
.graphContainer {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content vertically */
    margin: 20px 0;
  }
  
  .graphCard {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    background-color: white;
  }
  
  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #24a87a47, #2a8c4b2c);
  }
  
  button {
    border: none;
    background-color: transparent;
    color: #333; /* Arrow color */
    font-size: 24px; /* Arrow size */
    cursor: pointer;
  }
  
  